<%- include("head.ejs"); -%> 

<div id="heading" class="box">
    <h1><%= listTitle %></h1>
</div>

<div class="box">

    <% listItems.forEach(function(item) { %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="contentId" value="<%= item._id %>" onChange="this.form.submit()">
                <p><%= item.content %></p>
            </div>
            <input type="hidden" name="customListName" value="<%= listTitle %>">
        </form>
    <% }) %>


    <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="listType" value= <%= listTitle %> >+</button>
    </form>

</div>

<%- include("footer.ejs") -%>  